<div class="exchange-wrap">
    <main class="exchange-container">
        <section class="exchange-item-wrap" id="first-item">
            <app-input [values]="Rate.count.first" (getValues)="getInputValue($event)"></app-input>
            <app-select [defaulSelectItem]="'UAH'" (getValues)="getValueSelect($event)"></app-select>
        </section>
        
        <section class="exchange-item-wrap" id="second-item">
            <app-input [values]="Rate.count.second" (getValues)="getInputValue($event, true)"></app-input>
            <app-select [defaulSelectItem]="'USD'" (getValues)="getValueSelect($event, true)"></app-select>
        </section>
    </main>
</div>