.exchange-item-select{
    width: auto;
    height: 35px;
    margin-right: 20px;
    border: 1.5px solid rgb(209, 209, 209);
    border-radius: 5px;
    background-color: transparent;

    font-family: "Gill Sans", sans-serif;
    font-size: 19px;
    &:focus{
        outline: 2px solid rgba(143, 186, 236, 0.527);
        box-shadow: rgba(143, 186, 236, 0.527) 0px 4px 12px;
    }
}
@media screen and (min-width: 574px) {
    .exchange-item-select{
        padding: 5px ;
    }
}
@media screen and (max-width: 574px) {
    .exchange-item-select{
        padding: 0;
    }
}